* {
    margin: 0;
    padding: 0;
  }
  main {
    text-align: center;
    background-color: #ff7146d3;
    padding-bottom: 10px;
  }
  H1 {
    padding: 20px;
    font-size: 60px;
    font-weight: 1000;
    letter-spacing: 1.1px;
    text-align: center;
    color: black;
    margin: 0px;
  }
  H3 {
    font-weight: 500;
    line-height: 1.29;
    color: #27c19e;
    padding-left: 5px;
  }
  form {
    margin-top: 30px;
    height: 100px;
  }
  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.36;
    text-align: left;
    color: #4a4a4a;
    padding-left: 5px;
  }
  footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    width: 100%;
    visibility: visible;
  }
  .container {
    max-width: 900px;
    margin: auto;
    visibility: hidden;
  }
  .weather H2 {
    position: relative;
    padding: 5px;
    font-size: 18px;
    line-height: 0.78;
    text-align: left;
    color: black;
  }
  .weather {
    width: 250px;
    height: 250px;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    color: #000000;
  }
  .venue {
    width: 275px;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
  #venues h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 0.77;
    text-align: center;
    padding-top: 5px;
  
  }
  #destination {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.9px;
    text-align: left;
    color: #27b7c1;
    
  }
  #weather {
    display: flex;
    justify-content: space-around;
    min-height: 150px;
  }
  
  #city {
    width: 286px;
    height: 46px;
    border-radius: 4px;
    border: solid 2.5px #ffffff;
    background-color: inherit;
    opacity: 0.73;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.4px;
    text-align: left;
    color: #000000;
    padding-left: 4px;
  }
  .sectiontitle {
    width: 300px;
    align-items: center;
  }
  
  .sectiontitle h2 {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 3.4px;
    text-align: left;
    color: #4a4a4a;
  }
  
  #venues {
    display: flex;
    justify-content: space-around;
    min-height: 250px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  h2 {
    text-align: center;
  }
  button {
    height: 46px;
    font-weight: 700;
    border-radius: 4px;
    border: solid 2.5px #ffffff;
    background-color: inherit;
    opacity: 0.73;
    font-size: 24px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 4px;
  }